body {
    background-color: rgb(241, 229, 218);
}
/* commento */
a {
    color: rgba(255, 128, 0, 0.7);
    text-decoration: none;
}
.color-blue {
    color: blue;
}
.underline {
    text-decoration: underline;
}
.sans-serif {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: bisque;
    display: inline;
    margin: 40px 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}
html{
    font-size: 16;
}
body{
    font-family: 'Roboto't,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
