body {
    background-color: rgb(241, 229, 218);
}
/* commento */
a {
    color: rgba(255, 128, 0, 0.7);
    text-decoration: none;
}
.color-blue {
    color: blue;
}
.underline {
    text-decoration: underline;
}
.sans-serif {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    background-color: bisque;
    display: inline;
    margin: 40px 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
}
img {
    display: inline-block;
    max-width: 100%;
}
html{
    font-size: 16;
}
body{
    font-family: 'Roboto't,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-1{
    background-image: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url('../img/img-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    text-align: center;
    color: rgb(255, 253, 240);
}

.wrapper-float{ 
    background-color:brown;
    padding: 2em; 
}
.box-float{
    background-color: rgb(232, 198, 111);
    border: 1px solid #000; 
    height: 3em;
    float: left;
    width: calc(50% - 2px);
    /* float serve per affiancare elementi */
}

 /* pseudoelement (::after) serve per aggiugnere un tag dentro l'html tramite il css */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }