
.icon-heart:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
